docs/html/

lint-tools/bin*
lint-tools/.crates.toml
lint-tools/.crates2.json

demo-v0.1/files/
demo-v0.1/.venv
demo-v0.1/__pycache*
demo-v0.1/cryptokeys/
demo-v0.1/downloads/

securedrop-protocol/target/*

securedrop-protocol/bench/target/*
securedrop-protocol/bench/pkg/*
securedrop-protocol/bench/.selenium-cache
securedrop-protocol/bench/out


# To be removed after demo-v0.1 refactor has been adopted
__pycache*
.venv
node_modules/

# to be removed after rust crate refactor
securedrop-protocol/pkg/*
securedrop-protocol/.selenium-cache
securedrop-protocol/out
